@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1531 {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px 5px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
}

.snip1531 *,
.snip1531 *:before,
.snip1531 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1531:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  content: '';
  background-color: #ffffff;
  opacity: 0;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1531 img {
  max-width: 100%;
  vertical-align: top;
}

.snip1531 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  padding: 0 30px;
}

.snip1531 h3 {
  margin: 0 0 6px;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 2px;
}

.snip1531 p {
  margin: 0 0 10px;
  opacity: 0.6;
}

.snip1531 .icons {
  width: 100%;
}

.snip1531 a {
  margin: 2px;
  display: inline-block;
}

.snip1531 a i {
  background-color: #333333;
  border-radius: 3px;
  color: #000000;
  display: block;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  width: 34px;
}

.snip1531 a i:before {
  color: #fff;
}

.snip1531 a i:hover {
  background-color: #D2B17F;
  cursor: pointer;
}

.snip1531:hover:before,
.snip1531.hover:before {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.snip1531:hover figcaption,
.snip1531.hover figcaption {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  opacity: 1;
}
