.section-header h2{
  font-family:'supermarketregular';
  text-align: center;
}


.dropdowns{
 	width: 100%;
 	height: auto;
  padding-bottom: 20px;
  font-family: 'supermarketregular';

 }
.dropsearch1 select{
    border-radius: 400px;
    width: 100%;
    height: 35px;
    margin-top: 30px;
    font-family: 'supermarketregular';
}
.dropsearch2 {
    margin-top: 30px;
    font-family: 'supermarketregular';
}
.dropsearch2 select{
    border-radius: 600px;
    width: 100%;
    height: 35px;
    font-family: 'supermarketregular';
  }


.dropsearch2 span {
    font-size: 1.4em;
    color: #fff;
}



@media only screen and (min-width: 760px) {
  .logotent h3 {
  font-size: : 2em;
  font-weight: bold;
}
  .dropsearch2 span {
    font-size: 1.5em;
    color: #fff;
}
.dropsearch2 select{
    border-radius: 100px;
    width: 80%;
    height: 35px;
    float: right;
}

}

////////





.btn.btn-primary {
  background: #4b6c5b;
    color: #fff;

}


.fh5co-owl-text h2{
  font-family: 'supermarketregular';
  font-size: 30px;
  color: #fff;

}
